<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11178447726-8kktm6c7e00g4qt0pd1vcp0vq9c3ujhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11178447726-8kktm6c7e00g4qt0pd1vcp0vq9c3ujhj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11178447726-796ddfovs591ktqn5vjjecqbdgbk2ef1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1tAslVTB8TKRqahoxWul0elmKE8CaRw8</string>
	<key>GCM_SENDER_ID</key>
	<string>11178447726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.air8.fitness</string>
	<key>PROJECT_ID</key>
	<string>air8-fitness-app</string>
	<key>STORAGE_BUCKET</key>
	<string>air8-fitness-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11178447726:ios:f80027977204ee901aa77f</string>
	<key>DATABASE_URL</key>
	<string>https://air8-fitness-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>